/* CSS Document */
body
{
    margin:0px;
    font-family: "Levenim MT", "Lucida Grande", sans-serif;
    font-size:14px;
    background:#64aeef;
}
a { text-decoration: none; color:#FB5762; }
a:hover { color:#64AEEF; }

ul { list-style:none; }
textarea { resize: none; padding:5px; }

input {
    padding:5px;
}

#container
{
    width:960px;
    border:0;
    margin:0px auto;
    padding-left:10px;
    padding-right:10px;
    background:#fff;
    min-height:500px;
}


#adminlogin { margin:0 auto; width:500px;}


/*Menu Navigation */

#adminmenu
{ margin:4px 0 auto auto; padding:0; width:960px; }
#adminmenu ul { list-style:none; padding:0; margin:0; border:none;}
#adminmenu li { text-align:center; margin:0; display:inline; float:right;}

#adminmenu li a
{
    text-decoration:none;
    background-color:#fff;
    color:#fb5762;
    padding:5px 1em;
}

#adminmenu li a:hover { background:#fb5762; color:#fff; }

/* Admin Contents */
#admindiv
{ margin:0 auto; float:right; width:940px; border:none;}

#admindiv ul { list-style:none; }

#admindiv li { padding: 15px 5px 0 0;  }

#admindiv table { border:none; }
#admindiv table td { padding: 5px; border:none; }

#accordion {
    width:140px; 
    height:100%; 
    float:left; 
    text-align:center;
    font-size:12px;
    margin-right:15px;    
}

#accordion>h4 { background-color: #FB5762; margin:2px 0; padding:5px 0; }
#accordion>h4:hover { background-color: #64AEEF; }
#accordion>h4>a { color:#fff; } 

#footer { width: 960px; margin:0 auto; }

/* Classes */
.block75 { width:75px; display:inline-block; }
.block100 { width:100px; margin-bottom:10px; margin-right:10px; display:inline-block; }
.block150 { width:150px; margin-right:10px; display:inline-block; }
.block200 { width:200px; margin-bottom:10px; margin-right:10px; display:inline-block; }
.block250 { width:250px; margin-right:10px; display:inline-block; }
.block350 { width:350px; margin-right:10px; display:inline-block; }
.block740 { width:740px; margin-bottom:10px; display:inline-block; }

.clearfix:after {
    clear: both;
    display: block;
    content: " ";
    height: 0px;
    visibility: hidden;
}
.clearfix { display: inline-block; }
/* Hide these rules from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix { display: block; }
li.clearfix {
	display: list-item;
}
/* End hide from IE-mac */


.bot5 { margin-bottom:5px; }
.bot50 { margin-bottom:50px; }
.bottom_space { margin-bottom:10px; }
.block_top_bord { padding:10px; border-top:1px solid #cacaca; }
.common_title { 
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 5px solid #cac;
	color: #cac;
	font-weight: bold;
	font-size: 17px;
}

.content_window{ padding:10px; }
.content_block { 
    width:770px; 
    padding:10px; 
    margin:10px 0;
    overflow:hidden;
    border:1px solid #cacaca;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#contentLeft li {
	margin-bottom:10px; padding:5px; border:1px solid #cacaca;
	border-radius:5px; -webkit-border-radius:5px;
}

.deletebutton { background: url(../media/images/icons/delete2.jpg) no-repeat;  height:30px; cursor: pointer; }
.deletebutton:hover { background: url(../media/images/icons/deletehover2.jpg) no-repeat; height:30px; cursor: pointer; }
.error { color:#f00; font-weight:bold; }

.go_left { float:left; }
.go_right { float:right; }
/* .label2 { max-width:150px; margin-right:10px; } */
.list:hover { background-color: #ede2dc; }
.list_div { padding:10px; margin-bottom:5px; }
.list_product { height: 190px; overflow: hidden; }
.list_product img { max-width:190px; max-height:190px;}
.login { padding:10px; font-weight:bold; border:1px solid black; width:60px;}

.marg7_0 { margin:7px 0; }
.marg_right { margin-right:10px; }

.order_list_div { padding:5px; border-top:1px solid #cacaca; }
.namefld { width:130px; float:left; padding:10px 5px; }
.note { font-size:11px; font-style: italic; }
.pad2 { padding:2px; }
.pad5 { padding:5px; }
.page_title {  
  text-align:left; 
  font-weight:bold; 
  font-size:20px; 
  padding:10px;  
  margin-bottom:15px;
  background-color: #64AEEF;
  color:#fff;
}

.sub_menu { display: none; }
.sub_menu a { text-decoration:underline; cursor:pointer; }
.title_parent { color:#fff; background-color:#64AEEF; padding:5px; margin-bottom:5px; }
.title_parent a { color:#fff; text-decoration:underline; cursor:pointer; }

.top_border { border-top:1px solid #cacaca; }
.top_space { margin-top:10px; }


/* FORMS */
input[type=text].price { width:100px; }
.wid150 { width:150px; display:inline-block; vertical-align:top; }
label.wid250 { width:250px; display:inline-block; }
.datepick { width:100px; }
.form_container { padding:10px 0px; border-top:1px solid #cacaca; }
.prod-img-cont { 
	border: 3px solid #fff; 
	margin-right:10px; 
	cursor:pointer;
}
.prod-img-cont:hover { border: 3px solid #64aeef; }
.main { border: 3px solid #fb5762; }
.prod-img-cont { display:inline-block; text-align:center; }
.prod-img-cont img {
	max-width:160px;
}

.product_list { border-top: 1px solid #cacaca; }
.product_list img { max-width:390px; }
