body {
  margin: 0; }

.left-nav {
  float: left;
  width: 15%;
  margin-right: 20px; }
  .left-nav h4 {
    background-color: #FB5762;
    color: #fff; }
    .left-nav h4 a {
      color: #fff !important; }
  .left-nav > div {
    text-align: center; }

.list_div {
  border-top: 1px solid #cacaca; }

.list {
  border-top: 1px solid #cacaca;
  padding: 10px 0px; }

.main-container {
  padding: 20px;
  background-color: #fff;
  width: 85%;
  margin: 0 auto; }

.content-container {
  width: 70%;
  float: left;
  padding: 20px;
  margin: 20px;
  border: 1px solid #cacaca; }

/** frontpage admin ***/
.images-container {
  overflow: auto;
  padding: 15px 0px;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 10px; }

.fp-image-container {
  float: left;
  margin-right: 10px;
  width: 25%;
  text-align: center; }
  .fp-image-container img {
    max-width: 150px; }

/***** MENU ******/
.title_parent > div {
  margin-right: 20px; }

.menu-title {
  float: left;
  width: 150px; }

.sub-menu {
  padding: 0px 15px 15px 15px; }

.sub-menu-title {
  display: inline-block;
  width: 400px; }

div.left-nav.ui-widget {
  font-size: 13px; }

form.image-container {
  padding-bottom: 20px;
  border-bottom: 1px solid #cacaca; }

/***** OTHER ******/
.clearfix {
  overflow: auto; }

.block150 {
  display: inline-block;
  width: 150px; }

.block200 {
  display: inline-block;
  width: 200px; }

/*# sourceMappingURL=app.css.map */
