html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0; }

textarea {
  border-radius: 5px;
  padding: 10px;
  resize: none;
  color: #494949; }

/***Navigation  ***/
ul.nav-pills {
  position: fixed;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #eb0028;
  font-weight: bold;
  z-index: 10;
  padding: 0;
  margin: 0; }
  ul.nav-pills li:first-child {
    margin-top: 50%; }
  ul.nav-pills li {
    background-color: #eb0028;
    color: #fff;
    border-radius: 4px; }
    ul.nav-pills li a {
      color: #fff;
      border-radius: 4px; }
    ul.nav-pills li a.active {
      color: #eb0028;
      background-color: #fff; }
    ul.nav-pills li :hover {
      background-color: #fff;
      color: #eb0028; }

/**** frontpage ****/
header {
  font-size: 45px;
  margin-bottom: 25px;
  border-bottom: 2px solid #eb0028; }

section {
  float: left;
  height: 100%;
  bottom: 0;
  padding: 1% 1% 1% 5%;
  margin: 0;
  background-color: #000;
  color: #fff;
  box-sizing: border-box; }

.btn-site-red {
  background: #eb0028;
  color: #fff; }
  .btn-site-red:hover {
    background: #fff;
    color: #eb0028; }

.content {
  height: 80%; }
  .content ul {
    padding: 15px; }

.contact .content {
  background-color: #494949; }

.contact-msg {
  margin: 15px 0px; }

.desc {
  margin: 15px 0px; }

.hidden {
  display: none; }

.home .content {
  background-color: #fff; }

.port-content {
  width: 100%;
  overflow: auto; }

.portfolio-container {
  width: 31%;
  height: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  background-color: #ff4d4d;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px; }
  .portfolio-container:hover {
    background-color: #ff8080; }
  .portfolio-container a {
    color: #fff;
    text-decoration: none;
    padding: 15% 5%;
    display: block;
    width: 100%;
    height: 100%; }

.carousel-inner {
  height: 100%; }

.twitter-container {
  color: #fff;
  box-sizing: border-box;
  padding: 15px 0px;
  height: 100%;
  font-size: 15px; }
  .twitter-container li {
    list-style: square;
    margin-bottom: 10%; }
    .twitter-container li:last-child {
      margin-bottom: 0; }
  .twitter-container a, .twitter-container a:visited, .twitter-container a:hover {
    color: #eb0028;
    font-weight: bold; }

@media only screen and (max-width: 702px), only screen and (max-width: 480px) {
  body {
    background-color: #000; }
  ul.nav-pills {
    height: auto;
    width: 100vw;
    text-align: center; }
    ul.nav-pills li:first-child {
      margin: 0; }
    ul.nav-pills li {
      display: inline-block;
      margin: 0; }
  .content {
    margin-top: 30px; }
  section {
    padding: 1% 2%; }
  .portfolio-container {
    width: 48%;
    height: auto; } }

@media (max-width: 433px) {
  ul.nav-pills li {
    width: 24%;
    vertical-align: middle;
    font-size: 11px; }
  ul.nav-pills:after {
    clear: both;
    content: " "; }
  section {
    margin-top: 20px;
    overflow: scroll; }
  .portfolio-container {
    font-size: 15px;
    width: 100%; } }

/*# sourceMappingURL=home.css.map */
