// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    margin:0;
}

.left-nav {
    float:left;
    width:15%;
    margin-right:20px;

    h4 { background-color: #FB5762; color:#fff;
        a { color: #fff !important; } 
    }
    > div { text-align:center; }
}

.list_div { border-top:1px solid #cacaca; }
.list { border-top:1px solid #cacaca; padding:10px 0px; }

.main-container {
    padding:20px;
    background-color:#fff;
    width:85%;
    margin:0 auto;
}

.main-wrapper {

}

.content-container {
    width:70%;
    float:left;
    padding:20px;
    margin:20px;
    border:1px solid #cacaca;
}

/** frontpage admin ***/
.images-container { 
    overflow:auto; 
    padding:15px 0px; 
    border-bottom:1px solid #cacaca; 
    margin-bottom:10px;
}

.fp-image-container { float:left; margin-right:10px; 
    width:25%;
    text-align:center;
    img { max-width:150px; }
}

// .list_div button { display:inline-block; }


/***** MENU ******/

.title_parent > div { margin-right: 20px; }
.menu-title { float:left; width:150px; }
.sub-menu { padding: 0px 15px 15px 15px; }
.sub-menu-title { display:inline-block; width:400px; }
div.left-nav.ui-widget { font-size:13px; }

form.image-container { padding-bottom:20px; border-bottom:1px solid #cacaca; }

/***** OTHER ******/

.clearfix { overflow: auto; }

.block150 { display:inline-block; width:150px; }
.block200 { display:inline-block; width:200px; }
// .go_left { float:left; }
